

.Header{
    font-family:'Montserrat';
    height: auto;
    width: auto;
    font-size: 32;
    font-weight: bold;
}

.Paragraph{
    font-family:'Montserrat';
    height: auto;
    width: auto;
    font-size:16;
    font-weight: lighter;
}

  
