

.Header{
    font-family:'Montserrat';
    height: auto;
    width: auto;
    font-size: 32;
}

p{
    font-family:'Montserrat';
    height: auto;
    width: auto;
    font-size:16;
    font-weight: lighter;
}

.PanelHeader{
    font-family:'Montserrat';
    height: auto;
    width: auto;
    font-size:16;
    margin-top:10px;
    margin-bottom:5px;
}

hr{
    margin:10px;
}

h1{
    margin-left:0px
}
  
.UserGuideGrid{
    justify-content: center;
    justify-self: center;
    margin-top:50px;
    border:solid #ffffff;
    border-width:15px;
}

.ImageAlign{
    width:100%;
    justify-content:center;
    border:solid #ffffff;
    border-width:25px;
}

.ImageAlignB{
    width:50%;
    height:50%;

    justify-content:center;

}

@font-face{
    font-family: 'Montserrat';
    font-style: regular;
    font-weight:400;
    src:'../../src/fonts/Montserrat-Regular.otf';
  }

.logo{
    width:100%;
    height:100%;
    justify-content:center;
}

.DownloadGrid{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top:60px;
}

.center-justified{
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}