.App {
  text-align: center;
}


.fixed-top{
  position:fixed;
  top:0;
  right:0;
  left:0;
  z-index:1030;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

h1.Montserrat{
  color: white;
  font-family: 'Montserrat';
}

.Montserrat{
  font-family:'Montserrat';
  height: auto;
  width: auto;
}

.navbar-padding{
  padding: 17px;
}

.navbar-brand {
  height: 75%;
  width: auto;
}

.Swiftionary{
  height: 100%;
  width: 100%;
  max-width:600px;
  max-height:122px;
}

.Jumbotron-Container{
  width:100%;
}

.App-header {
  background-color:  rgb(83, 198, 233);
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.MainGrid{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top:30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.PopupBox{
  border-radius:25px;
  padding:20px;
  text-align: left;

}

.header{
  color:black;
}

.MainText{
  text-align:center;

}